# Application Dependencies
# Requirements ini digunakan untuk mengelola dependensi aplikasi flask
# Project Pintar - AutoSort | Sistem klasifikasi jenis jamur merang menggunakan algoritma K-Nearest Neighbors (KNN) Terintegrasi dengan IoT berbasis website.

#===================================================================================================#

#1 Flask | Web Framework
Flask==3.1.2

#2 Python Dotenv | Memuat environment variables dari file .env
python-dotenv==1.0.1

#3 Flask SQLAlchemy & SQLAlchemy | ORM untuk database pada Flask
Flask-SQLAlchemy==3.1.1

#4 SQLAlchemy | ORM untuk database
SQLAlchemy==2.0.36

#5 Flask Migrate | Manajemen migrasi database untuk Flask menggunakan Alembic
Flask-Migrate==4.0.7

#6 passlib | Library untuk hashing password
passlib==1.7.4

#7 openCV Python | Library untuk pemrosesan gambar
opencv-python==4.10.0.84

#8 Pillow | Library untuk manipulasi gambar
Pillow==10.4.0

#9 PyMySQL | Library untuk koneksi MySQL
PyMySQL==1.1.1

#===================================================================================================#

# Model Dependencies
# Memuat dependensi yang diperlukan untuk model machine learning
# Bisa memilih salah satu sesuai arsitektur Rasberry Pi atau server x86/amd64

#tensorflow==2.16.1
#tflite-runtime==2.14.0

#===================================================================================================#